@use "variables" as *;
@use "components/plans";
@use "components/sumary";

/* Utilidad: ocultar en mobile */
.no-mobile {
  @media (max-width: 767px) {
    display: none !important;
  }
}

.insurance-page {
  background-color: #fafbff !important;
  padding-bottom: 4rem;
  min-height: 100dvh;

  .progress-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #edeffc;
    padding: 10px 0;

    .progress {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 500px;
      font-family: "Lato";

      .step {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin: 0 40px;

        .circle {
          width: 28px;
          height: 28px;
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          font-weight: bold;
          font-size: 16px;
          transition: background-color 0.3s ease, color 0.3s ease;
          margin-right: 15px;
          background: transparent;
          border: 2px solid #7981b2;
          color: #7981b2;

          &.active {
            background-color: #4f4fff;
            color: white;
            border: 2px solid #4f4fff;
          }
        }

        .step-title {
          font-size: 14px;
          color: #141938b5;
        }

        &.active .step-title {
          color: #141938;
          font-weight: bold;
        }
      }

      .dots {
        width: 30px;
        height: 2px;
        background-color: rgba(76, 175, 80, 0.2);
        transition: background-color 0.3s ease;
        margin-top: 10px;
        margin-bottom: 10px;

        &.active {
          width: 36px;
          height: 4px;
          border-radius: 4px;
          background: repeating-linear-gradient(
            90deg,
            #4f4fff 0 4px,
            rgba(79, 79, 255, 0) 4px 10px
          );
          opacity: 0.6;
        }
      }
    }
  }

  .back-button-row {
    background-color: transparent;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    box-sizing: border-box;
  }

  .back-button {
    display: flex;
    align-items: center;
    background-color: transparent;
    cursor: pointer;
    color: #4f4fff;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    border: none;

    .back-circle {
      width: 20px;
      height: 20px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: transparent;
      color: #4f4fff;
      font-size: 18px;
      margin-right: 10px;
      transition: background-color 0.3s ease;
      font-family: "Roboto", sans-serif;
      border: 2px solid #4f4fff;

      &:hover {
        background-color: rgba(79, 79, 255, 0.2);
      }

      svg {
        width: 10px;
        height: 16px;
      }
    }

    .back-text {
      font-size: 16px;
      color: #4f4fff;
    }

    &:hover .back-text {
      color: #3e3fff;
    }
  }

  .back-button-row {
    background-color: transparent;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    box-sizing: border-box;
  }

  .back-button2 {
    align-items: center;
    background-color: transparent;
    cursor: pointer;
    color: #4f4fff;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    border: none;

    .back-circle {
      width: 20px;
      height: 20px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: transparent;
      color: #acaceb;
      font-size: 18px;
      margin-right: 10px;
      transition: background-color 0.3s ease;
      font-family: "Roboto", sans-serif;
      border: 2px solid #acaceb;

      &:hover {
        background-color: rgba(79, 79, 255, 0.2);
      }

      svg {
        width: 10px;
        height: 16px;
      }
    }

    .back-text {
      font-size: 16px;
      color: #4f4fff;
    }

    &:hover .back-text {
      color: #3e3fff;
    }
  }

  .centered-box-row {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .centered-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $bg-transparent;
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    max-width: 550px;

    h2 {
      font-size: 40px;
      font-weight: bold;
      color: #333;
      margin-bottom: 10px;
      text-align: center;
      font-family: Lato;
      line-height: normal;
    }

    p {
      font-size: 16px;
      color: #555;
      text-align: center;
      font-family: "Lato";
      margin-top: 0.7rem;
      font-weight: 600;
    }
  }

  .options-row {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin: 30px 0;

    .option-box {
      display: flex;
      flex-direction: column;
      align-items: baseline;
      justify-content: center;
      cursor: pointer;
      padding: 20px;
      background-color: #fff;
      border-radius: 20px;
      border: 2px solid transparent;
      width: 250px;
      text-align: left;
      -webkit-box-shadow: 1px 0px 15px 2px rgba(227, 239, 255, 0.5);
      box-shadow: 1px 0px 15px 2px rgba(227, 239, 255, 0.5);
      transition: 0.3s ease;
      position: relative;

      .icon {
        font-size: 30px;
        color: #7981b2;
        margin-bottom: 10px;
        display: flex;
        align-items: end;

        img {
          width: 35px;
          margin-right: 10px;
        }

        h2 {
          font-size: 20px;
          font-weight: bold;
          color: #141938;
        }
      }

      .option-text {
        h2 {
          font-size: 20px;
          font-weight: bold;
          color: #141938;
        }

        p {
          font-size: 12px;
          color: #555;
          margin-top: 5px;
          font-weight: 400;
        }
      }

      &.selected {
        border-color: #2e2e3b;
        background-color: #fff;

        .icon {
          color: #4f4fff;
        }
      }

      &:hover {
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
      }

      input {
        position: absolute;
        top: 10px;
        right: 10px;
        opacity: 1;
        cursor: pointer;
      }

      input:checked + .icon {
        color: #4caf50;
      }
    }
  }

  .input-checkbox {
    position: relative;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    appearance: none;
    background-color: #bbb;
    transition: all 0.3s;
  }

  .input-checkbox::before {
    content: "";
    position: absolute;
    border: solid #fff;
    display: block;
    width: 0.3em;
    height: 0.6em;
    border-width: 0 0.2em 0.2em 0;
    z-index: 1;
    opacity: 0;
    right: calc(55% - 0.3em);
    top: calc(50% - 0.6em);
    transform: rotate(0deg);
    transition: all 0.3s;
    transform-origin: center center;
  }

  .input-checkbox:checked {
    animation: a 0.3s ease-in forwards;
    background-color: #389e0d;
  }

  .input-checkbox:checked::before {
    opacity: 1;
    transform: rotate(405deg);
  }

  .full-width-button {
    width: 100%;
    margin-top: 30px;
    padding: 10px 20px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;

    &:hover {
      background-color: #45a049;
    }
  }

  @media (max-width: 768px) {
    .progress-container {
      background-color: $bg-transparent;
      border-bottom: 1px solid #d7dbf5;
      margin-top: 5px;

      .progress {
        width: 80%;
      }
    }

    .centered-box {
      h2 {
        font-size: 2rem;
        text-align: left;
      }

      p {
        text-align: left;
        width: inherit;
      }
    }

    .options-row {
      display: grid;

      .option-box {
        width: 300px;
      }
    }
  }
}

hr {
  margin: 20px 0;
}

/* Barra de Progreso para Móviles */
@media (max-width: 768px) {
  .insurance-page {
    background-color: #fafbff !important;
    padding-bottom: 4rem;
  }

  .progress-bar-mobile {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    padding: 10px 0;
    width: 80%;
    margin: 0; /* Centrar el contenedor */

    /* Ajustar el texto */
    .progress-text {
      font-size: 14px;
      font-weight: bold;
      color: #141938;
      margin-right: 10px;
    }

    /* Estilo de la barra de progreso */
    progress {
      width: 65%; 
      height: 8px; 
      border-radius: 5px;
      -webkit-appearance: none;
      appearance: none;
      background-color: #d0d7e0;
      
      &::-webkit-progress-bar {
        background-color: #d0d7e0;
        border-radius: 5px;
      }

      &::-webkit-progress-value {
        background-color: #4f4fff;
        border-radius: 5px;
      }

      &::-moz-progress-bar {
        background-color: #4f4fff;
        border-radius: 5px;
      }
    }
  }
}
